@import "variables";

body {
    font-family: "Source Sans Pro", Arial,"Helvetica Neue",Helvetica, sans-serif;
    font-size: $body-font-size;
    font-weight: 400;
}

pre > code {
    font-family: 'JetBrains Mono', monospace;
    font-size: $code-size;
}

// Post Content
article.content,
#index {
    color: $article-content-color;
}

@media (min-width: $tablet) {
    main {
        padding-inline: 5%;
    }

    main.container {
        padding-right: 15%;
        padding-left: 15%;
    }
}

// Shortcode hint colors
$hint-colors: (
    info: $info,
    ok: $success,
    warning: $warning,
    danger: $danger,
) !default;

// {{< hint >}}
.hint {
    @each $name, $color in $hint-colors {
        &.#{$name} {
            border-left-color: $color;
            background-color: rgba($color, 0.1);
        }
    }
}

// Adding copy button
.highlight {
    position: relative;
}
.highlight pre {
    padding-right: 75px;
}
.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}
.highlight-copy-btn:hover {
    background-color: #666;
}