@import "variables";

body {
    font-family: "Source Sans Pro", Arial,"Helvetica Neue",Helvetica, sans-serif;
    font-size: $body-font-size;
    font-weight: 400;
}

pre > code {
    font-family: 'JetBrains Mono', monospace;
    font-size: $code-size;
}

// Post Content
article.content,
#index {
    color: $article-content-color;
}

@media (min-width: $tablet) {
    main {
        padding-inline: 5%;
    }

    main.container {
        padding-right: 12%;
        padding-left: 12%;
    }
}

// Shortcode hint colors
$hint-colors: (
    info: $info,
    ok: $success,
    warning: $warning,
    danger: $danger,
) !default;

// {{< hint >}}
.hint {
    @each $name, $color in $hint-colors {
        &.#{$name} {
            border-left-color: $color;
            background-color: rgba($color, 0.1);
        }
    }
}
