@import "variables";

body {
    font-family: "JetBrains Mono", monospace;
    font-size: $body-font-size;
    font-weight: 500;
}

.navbar {
    background-color: #b9ffff;
}
// Post Content
article.content,
#index {
    color: $article-content-color;
}

@media (min-width: $tablet) {
    main {
        padding-inline: 5%;
    }
    #index {
        padding-inline: 10%;
    }
}

.sticky {
    position: -webkit-sticky; // For Safari Browser
    position: fixed;
    right: 5%;
}

// Shortcode hint colors
$hint-colors: (
    info: $info,
    ok: $success,
    warning: $warning,
    danger: $danger,
) !default;

// {{< hint >}}
.hint {
    @each $name, $color in $hint-colors {
        &.#{$name} {
            border-left-color: $color;
            background-color: rgba($color, 0.1);
        }
    }
}
