// Font
$font-multiplier: 1.2;
$base-font-size: 16px;
$body-font-size: $font-multiplier * $base-font-size;
$code-size: 0.775 * $body-font-size;
$family-code: monospace;

$navbar-box-shadow-size: 5px;

// Colors
$info: hsl(207, 61%, 53%);
$success: hsl(171, 100%, 41%);
$warning: hsl(44, 100%, 77%);
$danger: hsl(348, 86%, 61%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);

// Article
$article-content-color: #3c4146;

// Breakpoints
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true !default;
