{{ define "main" }}
<section class="section">
  <main id="index" class="container">
    <header class="mb-3">
      <h1 class="title is-1 has-text-centered">{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <h2 class="subtitle is-3 has-text-centered">{{.}}</h2>
      {{ end }}
    </header>
    <hr>
    <div class="content">
      {{.Content}}
    </div>

    <!--
    <h2 class="subtitle is-1">TODO items</h2>
    {{ $datailike := getJSON "https://jsonplaceholder.typicode.com/todos"}}
    <div class="content">
      {{ range $item := $datailike }}
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h1>{{ $item.title }}</h1>
            <h2>Item completed: {{ $item.completed }}</h2>
          </div>
        </div>
      </div>
      <br>
      {{ end }}
  </div>
-->
    
    <hr>
    <h2 class="subtitle is-2">Blog Posts</h2>
    <div class="p">
      {{ range first 5 ( where .Site.RegularPages "Type" "posts" ) }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
</section>
{{ end }}